<!DOCTYPE html>

<html class="no-js">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@600&display=swap" rel="stylesheet">
    <title>Michelle Bachelet</title>
    <link rel="stylesheet" href="/styles/main.css">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <script src="/app.js"></script>
    <nav class='navigation'>
        <ul class='nav-list'>
            <li><a href="./about.html">About</a></li>
            <li><a href="./works.html">Works</a></li>
            <li><a href="https://www.ohchr.org/EN/AboutUs/Pages/HighCommissioner.aspx" target="_blank">Human
                    Rights</a></li>
        </ul>
    </nav>
    <hr>

    <section class='introduction'>
        <div>
            <p class='home-tittle'>Welcome to the official website of Michelle Bachelet</p>
            <div class='home-image'>
                <img src="/Images/Michelle-Bachelet-coronavirus-time-100.jpg" alt="Michelle Bachelet" width="400"
                    height="300">
                <p class='description'>U.N. High Commissioner for Human Rights Michelle Bachelet at European
                    headquarters in
                    Geneva</p>
            </div>
        </div>
    </section>
</body>

</html>