<!DOCTYPE html>
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@600&display=swap" rel="stylesheet">
    <title>Michelle Bachelet</title>
    <link rel="stylesheet" href="/styles/main.css">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>

<body>
    <script src="" async defer></script>
    <nav class='navigation'>
        <ul class="nav-list">
            <li><a href="./home.html">Home</a></li>
            <li><a href="./about.html">About</a></li>
            <li><a href="https://www.ohchr.org/EN/AboutUs/Pages/HighCommissioner.aspx" target="_blank">Human
                    Rights</a></li>
        </ul>
    </nav>
    <hr>
    <p class='works-tittle'>Career</p>
    <div class='career'>
        <p class='career-tittle'>Minister of Health</p>
        <p class='career-detail'>On 11 March 2000, Bachelet – virtually unknown at the time – was appointed
            Minister
            of Health by
            President Ricardo Lagos.</p>


        <p class='career-tittle'>Minister of National Defense</p>
        <p class='career-detail'>On 7 January 2002, she was appointed Minister of National Defense, becoming the
            first woman to hold this
            post in a Latin American country and one of the few in the world.</p>

        <p class='career-tittle'>First presidency (2006–2010)</p>
        <p class='career-detail'>Bachelet was sworn in as President of the Republic of Chile on 11 March 2006 in
            a
            ceremony held in a
            plenary session of the National Congress in Valparaíso attended by many foreign heads of states and
            delegates.</p>

        <p class='career-tittle'>Director of UN Women</p>
        <p class='career-detail'>
            In 2011, she was named the first Director of UN Women, an organization dedicated to fighting for the
            rights of women and girls internationally. Economic empowerment and ending violence against women
            were
            two of her priorities during her tenure. She has recently pledged to be a Gender Champion,
            committing to
            advance gender equality in OHCHR and in international fora.
        </p>

        <p class='career-tittle'>Second presidency (2014–2018)</p>
        <p class='career-detail'>Bachelet was sworn in as President of the Republic of Chile for a second time
            on 11
            March 2014 at the
            National Congress in Valparaíso.</p>

        <p class='career-tittle'>UN High Commissioner for Human Rights (2018)</p>
        <p class='career-detail'>On September 1, 2018 Michelle Bachelet assumed her functions as the United
            Nations
            High Commissioner for
            Human Rights. The Office of the High Commissioner for Human Rights was established in 1993 and Ms.
            Bachelet is the seventh Commissioner.
        </p>

    </div>



</body>

</html>